.invitation-page{
    text-align: center;
    min-height: 100vh;
}

.invitation-page h1{
    margin: 50px auto;
    font-size: 3.2rem;
    font-weight: bold;
}

.invitation-page h4{
    margin: 30px auto;
    font-size: 1.3rem;
    word-spacing: 2px;
    letter-spacing: 1px;
}


.invitation-page .item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 30px auto;
}

.invitation-page .item {
    cursor: pointer;
    width: 300px;
    min-height: 350px;
    height: auto;
    border: 1px solid #0000003a;
    margin: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: all .4s ease-in;
}

.invitation-page .item:hover{
    transform: translateY(-10px);
}

.invitation-page .item img{
    width: 200px;
    height: 130px;
    object-fit: cover;
}

.gift-container {
    position: fixed; 
    bottom: -200px; 
    left: 50%;      
    transform: translateX(-50%); 
    width: 200px;
    height: 200px;
    cursor: pointer;
    animation: fly 5s forwards ease-in-out;
}

@keyframes fly {
    0% {
        bottom: -200px;
    }
    100% {
        bottom: 100%;   
    }
}

.gift-lid, .gift-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../background/images/b1.png') no-repeat center center / contain;
    transition: transform 1s;
}

.gift-lid {
    z-index: 2;
    background-image: url('../../background/images/b1.png');
}

.gift-open .gift-lid {
    transform: rotateX(-90deg);
}
