.invitation-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.invitation-modal-content {
  background-color: #ebf4f6;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.invitation-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.invitation-modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ebf4f6;
}

.invitation-modal-body {
  margin-top: 10px;
}

.invitation-modal .form-group {
  margin-bottom: 15px;
}

.invitation-modal .date {
  width: 100%;
}

.invitation-modal .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ebf4f6;
  box-sizing: border-box;
}

.invitation-modal button {
  background-color: #088395;
  color: #ebf4f6;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.invitation-modal button:hover {
  background-color: #37b7c3;
}
