.about{
  margin: 100px auto;
  margin-bottom: 0;
  padding-bottom: 40px;
  width: 80%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.about h1{
  font-size: 3.5rem;
  font-weight: bolder;
  margin: 40px auto;
}

.about p{
  font-size: 1rem;
  margin: 20px auto;
}

.about .about-cards{
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about .about-cards #card{
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #00000027;
  box-shadow: 2px 2px 5px #deb5f171;
  transition: all .3s ease-in;
  margin: 30px;
}

.about .about-cards #card:hover{
  transform: translateY(-8px);
}

.about .about-cards #card img{
  width: 220px;
  border-radius: 50%;
  border: 1px dotted #00000062;
  object-position: center;
  object-fit: cover;
  margin: 20px auto;
}

.about .about-cards #card h4{
  color: #cd78d8d5;
}

.about .about-cards #card p{
  font-size: 1.2rem;
  color: #333;
}

.about .about-cards #card .email{
  font-weight: 600;
}

@media only screen and (max-width: 1500px) {

  .about{
    height: auto;
  }

  .about .about-cards #card{
      width: 250px;
  }

  .about .about-cards #card img{
    width: 120px;
  }
}