.add-child-form {
  min-width: 400px;
  min-height: 400px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #ceddeb28;
  border: 1px solid #00000027;
  box-shadow: 2px 2px 5px #deb5f171;
  border-radius: 20px;
  padding: 25px;
}

.add-child-form h2 {
  margin: 15px auto;
}

.form-group {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #00000027;
  outline: none;
  border-radius: 15px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #00000027;
  outline: none;
  border-radius: 15px;
  box-sizing: border-box;
}

.add-child-form .btns {
  margin: 15px auto;
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.add-child-form .btns button {
  cursor: pointer;
  width: 140px;
  padding: 15px 0;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #088395;
  color: #000;
}

.add-child-form .btns button:hover {
  background-color: #37b7c3;
}
