.gifts-page {
  padding: 20px;
  min-height: 100vh;
}

.page-title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 20px;
}
.summary-section p {
  font-family: "Georgia", serif;
  font-size: 1.125rem;
  color: #4a4a4a;
}

.page-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.gifts-header {
  text-align: center;
}

.child-list {
  flex: 1;
  border: 1px solid #4a4a4a38;
  border-radius: 20px;
  padding: 15px;
}

.gift-section {
  flex: 2;
  border: 1px solid #4a4a4a38;
  border-radius: 20px;
  padding: 20px;
}

.gift-section .gift {
  margin: auto;
}

.btn {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background-color: #088395;
  color: #000;
  cursor: pointer;
}

.btn:hover {
  background-color: #37b7c3;
}

.btn.active {
  background-color: #088395;
  color: #ebf4f6;
}

.view-switcher {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.invite-section {
  display: inline;

  justify-content: center;
  /* margin-top: 20px; */
}

.invite-btn {
  margin: 10px auto;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #088395;
  color: #fff;
}

.invite-btn:hover {
  background-color: #37b7c3;
}

.modal-overlay {
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  min-width: 450px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.gifts-page {
  padding: 20px;
}

.page-title {
  text-align: center;
}

.page-content {
  display: flex;
  justify-content: space-between;
}

.child-list,
.details-section {
  width: 45%;
}

.view-switcher {
  margin-bottom: 20px;
}

.btn {
  margin-right: 10px;
}

.suggested-gifts {
  margin-top: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
}

.add-friend-form {
  display: flex;
  flex-direction: column;
}

.add-friend-form h2 {
  text-align: center;
}

.add-friend-form label {
  margin-bottom: 10px;
}

.add-friend-form select {
  margin-bottom: 20px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-buttons .btn {
  margin-right: 10px;
}

@media only screen and (max-width: 1160px) {
  .page-content {
    flex-direction: column;
  }
}
