.products {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-container {
  flex-basis: 30%;
  padding: 50px;
  text-align: right;
}

.product-cards {
  flex-basis: 70%;
  padding: 20px;
  text-align: center;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid #00000027;
  box-shadow: 2px 2px 5px #deb5f171;
  border-radius: 15px;
  text-align: right;
}

.price-filter {
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  font-size: 1.2rem;
  background-color: #ebe2ecdc;
  border: 1px solid #00000027;
  outline: none;
  border-radius: 15px;
  text-align: right;
}

.grid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #c7a2cc;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.snackbar.show {
  visibility: visible;
  animation: fadeInOut 3s;
}

.snackbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

#close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all .2s ease-in;
  margin-right: 15px;
}

#close-btn:hover {
  color: red;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}