.qa-list {
  font-family: Arial, sans-serif;
  padding: 20px;

  border-radius: 8px;

  max-width: 100%;
  margin: auto;
  color: #ebf4f6;
}

.qa-list h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ebf4f6;
}

.question-item {
  margin-bottom: 15px;
  padding: 20px;
  background-color: #facad8;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #ebf4f6;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.question-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.question-text {
  font-size: 18px;
  color: #ebf4f6;
  margin-bottom: 15px;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.option-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-label:hover {
  background-color: #f0f0f0;
}

.option-text {
  margin-left: 8px;
  font-size: 16px;
}

input[type="radio"] {
  accent-color: #088395;
}

.text-area {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  transition: border-color 0.3s ease;
}

.text-area:focus {
  border-color: #ebf4f6;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .question-item {
    padding: 15px;
  }

  .question-text {
    font-size: 16px;
  }

  .option-text {
    font-size: 14px;
  }

  .text-area {
    font-size: 14px;
  }
}
