.questions-page {
  padding: 10px;
  position: relative;
  min-height: 100vh;
}

.page-title {
  color: #304463;
  text-align: center;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.actions button {
  margin: 15px auto;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #088395;
  color: #000;
}

.actions button:hover {
  background-color: #37b7c3;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.section {
  flex: 1;
  border: 1px solid #304463;
  border-radius: 20px;
  padding: 10px;
}

.modal-overlay {
  position: fixed;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;

  align-items: center;
  justify-content: center;
  margin: auto;
  z-index: 1000;
}

.modal-content {
  background-color: #ebf4f6;
  margin-top: 7%;
  border-radius: 20px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1160px) {
  .content {
    flex-direction: column;
  }
}
